<mat-sidenav-container fullscreen>

  <div *ngIf="true">
  
    <app-toolbar>Loading Toolbar..</app-toolbar>
    
    <app-info>Loading Info..</app-info>
    
    <div fxHide.lt-sm fxHide.sm>    
      
      <div fxLayout="row">
        <div fxFlex>
          <app-game>Loading Game..</app-game>
        </div>
        <div fxFlex>
          <app-history>Loading History..</app-history>
        </div>
      </div>
      
    </div>
    
    <mat-tab-group fxHide.gt-sm>
      <mat-tab label="Players">
        <app-game>Loading Game..</app-game>
      </mat-tab>
      <mat-tab label="History">
        <app-history>Loading History..</app-history>
      </mat-tab>
    </mat-tab-group>

  </div>

  <app-setup *ngIf="false">Loading Setup..</app-setup>
    
</mat-sidenav-container>